lib-cov
lcov.info
pids
logs
results
build
node_modules
.node_history
package-lock.json
**/package-lock.json
!docs/package-lock.json
.next
out_publish/
out_functions/
/out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
.vercel
yarn.lock