/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Button/Button.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__mg_cR {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.2s;
}

.Button_primary__PFIP8 {
  color: var(--white);
  background-color: var(--primary);
}
.Button_primary__PFIP8:hover {
  background-color: var(--primary-hover);
}

.Button_ghost__VE_C_ {
  color: var (--black);
  background: none;
  border: 1px solid var(--gray-ligth);
}
.Button_ghost__VE_C_:hover {
  background-color: var(--primary-hover);
  color: var(--white);
}
.Button_arrow__9H3gW {
  display: inline-block;
  margin-left: 10px;
}
.Button_down__B10xD {
  transform: rotate(90deg);
  transition: all 0.2s;
}
.Button_primary__PFIP8 svg,
.Button_ghost__VE_C_:hover svg {
  fill: var(--white);
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Htag/Htag.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.Htag_h1__JRc3a {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.34;
  margin: 0;
}
.Htag_h2__ZnbzO {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.36;
  margin: 0;
}
.Htag_h3__zc7qQ {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.35;
  margin: 0;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Paragraph/Paragraph.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Paragraph_paragraph___8Q2_ {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.Paragraph_medium__U8daX {
  font-size: 16px;
}
.Paragraph_large__LGwis {
  font-size: 18px;
  line-height: 1.6;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Rating/Rating.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Rating_filled__xLX0N svg {
  fill: var(--primary);
}
.Rating_star__ObkYs svg {
  margin-right: 5px;
}
.Rating_editable__JB7Ce {
  border: none;
  cursor: pointer;
}

